.myplantcard-add-plant {
  width:90%;
  height: 450px;
  margin: auto;
  border-radius: 4px;
  transition: transform .5s;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.04);
  }
  img {
    height: 65%;
    object-fit: cover;
  }
}
