
.myplantcard-add-plant {
  width:90%;
  height: 420px;
  background-color: $white-green;
  box-shadow: 0.2px 0.9px 0.9px 0.9px $dark-gray-green;
  margin: auto;
  border-radius: 6px;
  border: none !important;
  transition: transform .5s;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.04);
  }
  img {
    height: 55%;
    object-fit: cover;
  }
}

.custombtn-add-plant {
  background-color: $light-green;
  color: $white-green;
  border: 3px solid $light-green;
  border-radius: 12px !important;
  padding: 0.5px;
  text-decoration: none;
  cursor: pointer;
  width: 110px !important;
  height: 45px !important;
  font-size: 14px !important;
  font-family: $links;
  text-align: center;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  &:hover {
    background-color: $white-green;
    border: 3px solid $light-green;
    color: $light-gray-green;
    transition-duration: 0.7s;
    text-decoration: none;
  }
}

.add-btn-position {
  padding: 2px 100px 70px;

}

.add-plant-slogan-text-1 {
  color:rgb(255, 255, 255);
  opacity: 80%;
  font-family: $titles;
  font-weight: 1000;
  font-size: 75px;
  padding-left: 5px;
}

.search-container {
  background-image:
  linear-gradient(to bottom, rgba(183, 216, 185, 0.137), rgba(131, 184, 131, 0.164)),
  url('https://images.unsplash.com/photo-1524116458090-9521cd04f38d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80');
  background-position: center;
  background-size: cover;
  height: 140px;
  box-shadow: 2px 2.2px 2.2px $dark-gray-green;
  margin-bottom: 50px;
}
