.homepage-advertising {
  background-color: rgb(244, 247, 246);
  padding-right: 40px;
  padding-left: 40px;
}

.homepage-card {
  background-color: white;
  height: 230px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px -5px 20px 2px rgba(0,0,0,0.1);
  text-align: center;
  &:hover {
    text-decoration: none !important;
  }
}

.homepage-card-text strong {
  color: $light-green;
}
