<nav class="navbar navbar-inverse">
  <div class="navbar-title">
    MY CHINAMPA
  </div>
  <div class="navbar-links">
    My Catalogue
  </div>
  <div class="navbar-links">
    Add Plant
  </div>
  <div class="navbar-links">
    Search
  </div>
  <div>
    <button type="button" class="btn btn-default navbar-btn navbar-button">Sign in</button>
  </div>
</nav>
