<nav class="navbar navbar-inverse">
  <div class="navbar-title">
    <%= link_to "MY CHINAMPA", root_path %>
  </div>
  <div class="navbar-links">
    <%= link_to "Catalogue", user_plants_path %>
  </div>
  <div class="navbar-links">
    <%= link_to "Add Plant", plants_path %>
  </div>
  <div class="navbar-links">
    <%= link_to "Browse", root_path %>
  </div>
</nav>

