<nav class="navbar navbar-inverse">
  <div class="navbar-title">
    <a href="#!">MY CHINAMPA</a>
  </div>
  <div class="navbar-links">
    <a href="#!">Catalogue</a>
  </div>
  <div class="navbar-links">
    <a href="#!">Add Plant</a>
  </div>
  <div class="navbar-links">
    <a href="#!">Browse</a>
  </div>
  <div>
    <button type="button" class="btn btn-default navbar-btn navbar-button">Sign in</button>
  </div>
</nav>
