<div class="template-body">
  <div class="container error-page-container d-flex align-items-center justify-content-center">
    <div class="error-writings">
      <h1>SORRY</h1>
      <p>The page you were looking for doesn't exist.</p>
      <p>You may have mistyped the address or the page may have moved.</p><br>
      <%= link_to "My Chinampa's homepage", root_path, class: 'link-to-homepage btn errorbtn' %>
    </div>
  </div>
</div>
