<div class="template-body">
  <div class="container error-page-container d-flex align-items-center justify-content-center">
    <div class="error-writings">
      <h1>SORRY</h1>
      <p>The change you wanted was rejected.</p><br>
      <%= link_to "My Chinampa's homepage", root_path, class: 'btn errorbtn' %>
    </div>
  </div>
</div>
