<div class="container">
  <%= simple_form_for @user_plant do |f| %>
    <%= f.input :nickname %>
    <%= f.input :plant_id, :as => :hidden %>
    <br>
    <%= f.button :submit, class: "formbtn btn" %>
  <% end %>
</div>
