<div class="name-plant-container">
  <div class="container p-4">
    <h3 class="mt-4 catalogue-slogan-text">Give your <br> &nbsp; &nbsp; &nbsp; &nbsp; plant a nickname!</h3>
  </div>
</div>

  <div class="container mb-5">
    <div class="row">
      <div class="col-sm">
         <div class="p-2 bd-highlight box-form"><%= render 'form'%></div>
      </div>
      <div class="col-sm">
        <div class="card myplantcard-name-page">
          <img src="<%= @api_plant.api_photo %>" class="img-fluid rounded" alt="Responsive image">
          <div class="text p-3">
            <h4><%= @api_plant.name %></h4>
            <p><%= @api_plant.family.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
