.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  &:hover {
    cursor: pointer;
    border: 1.5px solid $light-green;
    color: $white-green;
    transition-duration: 0.2s;
  }
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.plant-avatar {
  border-radius: 50% !important;
  width: 160px;
  height: 160px;
  margin-left: 90px;
}
