.box-form {
  width:80%;
  height: 350px;
  background-color: $mid-green;
  border : 0.5px solid $mid-green;
  // opacity: 80%;
  color: white;
  // box-shadow: 0.2px 0.9px 0.9px 0.9px $dark-gray-green;
  border-radius: 2px;
}
