.custombtn {
  background-color: $mid-green;
  color: $white-green;
  border-radius: 4px !important;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 40px !important;
  font-size: 12px !important;
  font-family: $links;
  height: 32px !important;
  &:hover {
    background-color: $white-green;
    border: 1px solid $mid-green;
    color: $mid-green;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.formbtn {
  background-color: $white-green;
  color: $mid-green;
  border-radius: 4px !important;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 40px !important;
  font-size: 14px !important;
  font-family: $links;
  height: 32px !important;
  &:hover {
    background-color: $white-green;
    border: 1px solid $mid-green;
    color: $mid-green;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.linkform {
  color: $white-green;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px !important;
  font-family: $links;
  margin-top: 5px;
  &:hover {
    color: $white;
    transition-duration: 0.3s;
    text-decoration: none;
  }
}

.addbtn {
  background-color: $mid-green;
  color: $white-green;
  border: 3px solid $mid-green;
  border-radius: 12px !important;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  width: 110px !important;
  height: 45px !important;
  font-size: 12px !important;
  font-family: $links;
  text-align: center;
  &:hover {
    background-color: $white-green;
    border: 3px solid $light-green;
    color: $light-gray-green;
    transition-duration: 0.7s;
    text-decoration: none;
  }
}

.searchbtn {
background-color: $white-green;
color: $mid-green;
border: 3px solid $light-green;
border-radius: 12px !important;
padding: 5px;
text-decoration: none;
cursor: pointer;
width: 110px !important;
height: 45px !important;
font-size: 12px !important;
font-family: $links;
text-align: center;
margin-top: 2px;
margin-left: 2px;
margin-right: 2px;
margin-bottom: 2px;
&:hover {
  background-color: $light-gray-green;
  border: 3px solid $light-green;
  color: $white-green;
  transition-duration: 0.7s;
  text-decoration: none;
  }
}
