.myplantcard {
  width:90%;
  height: 500px;
  margin: auto;
  border-radius: 6px;
  border: none;
  transition: transform .5s;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.1);
  }
  img {
    height: 76%;
    object-fit: cover;
  }
}

.card_link {
  text-decoration: none !important;
}

.i {
  font-family: $paragraphs;
}

.reminders-big-card {
  border: none;
  margin: auto;
  padding: 15px;
  border-radius: 6px;
  width: 90%;
  &:hover {
    text-decoration: none !important;
  }
}
