.template-body {
  background-image:
    linear-gradient(to bottom, rgba(20, 238, 38, 0.082), rgba(17, 68, 10, 0.205)),
    url(dead_plant.jpeg);
    background-size: cover;
}

.error-page-container {
  height: 100vh;
}

.error-writings {
  text-align: center;
  h1 {
    font-size: 4em;
    color: white;
  }
  p {
    color: white;
  }
}

.link-to-homepage {
  font-size: 32px !important;
  font-family: "Work Sans", "Helvetica", "sans-serif" !important;
  color:white !important;
}
