.navbar-inverse {
height: 80px;
margin-bottom: 0px;
background-color: $white-green;
}

.navbar-title {
  font-family: $titles;
  font-size: 50px;
  color: $dark-gray-green;
}

.navbar-links {
  font-family: $links;
}


.plantsnavbar {
  font-size: 12px;
  border-radius: 90px;
  height: 40px;
}

// lewagon navbar edited for Chinampa design

.navbar-lewagon {
  justify-content: space-between;
  background: $white-green;
  height: 80px;
  margin-bottom: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.custom-avatar {
  cursor: pointer;
}

