.navbar-inverse {

}

.navbar-title {
  font-family: $titles;
  font-size: 40px;
  color: $black-green;
}

.navbar-button {
  background-color: $dark-gray-green;
  color: $white-green;
}

.navbar-links {
  font-family: $links;
  color: $dark-gray-green;
}