.navbar-inverse {
height: 80px;
margin-bottom: 0px;
}

.navbar-title {
  font-family: $titles;
  font-size: 45px;
  color: $black-green;
}

.navbar-links {
  font-family: $links;
}

// .navbar-button {
//   background: $dark-gray-green;
//   color: $white-green;
//   transition: background 0.3s ease;
//   padding: 8px 24px;
//   width: 120px;
//   height: 72px;
//   margin-bottom: 1px;
//   border-radius: 1%;
// }

.navbar-links {
  font-family: $links;
}

.plantsnavbar {
  font-size: 12px;
  border-radius: 90px;
  height: 40px;
}

// .navbar-button:hover {
//   background: $mid-green;
//   color: white;
// }

