.slogan-text-1 {
  color:rgb(255, 255, 255);
  opacity: 92%;
  font-family: $titles;
  font-weight: 1000;
  font-size: 75px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 55px;
  margin-bottom: 0px;
}

.slogan-text-2 {
  color:rgb(255, 255, 255);
  opacity: 92%;
  font-family: $titles;
  font-weight: 700;
  font-size: 60px;
  padding-bottom: 90px;
  line-height: 50px;
  padding-left: 130px;
  margin-top: 0px;
}
